.App {
  text-align: center;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: #000;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
}
