div.user-comments {
  width: 80%;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 15px;
}

div.comment-from-user {
  padding: 15px;
  border-bottom: 1px solid lightgray;
}

p.author {
  font-weight: bolder;
}
