.book-title-header {
  background-color: #000000;
  height: 170px;
  width: 100%;
  padding: 20px;
  color: white;
}

img.header-image {
  border-radius: 50%;
}

figure {
  margin-top: 15px;
}

table {
  font-size: 16px;
  margin-top: 15px;
  background-color: white;
}

td.display-bold {
  font-weight: bold;
}

img.cover-art {
  box-shadow: 3px 3px 3px #888888;
}

span.glyphicon {
  font-size: 30px;
}

.comments {
  margin: 30px;
}
.form-control {
  width: 60%;
}

div.user-comments {
  width: 80%;
  height: 200px;
  background-color: white;
  border: 1px solid lightgray;
  margin-top: 15px;
}
